@use "../abstract/index-abs" as abs;
html.dark {
  // --text-color: #1a162e;
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7484%) hue-rotate(52deg) brightness(105%) contrast(101%);

  --body--bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-bs-color: rgba(0, 0, 0, 0.2);
  --top-act-btn-separate-color: #ededf6;
}
