@use "../abstract/index-abs" as abs;

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);

  display: none;

  @include abs.breakpoint(lg) {
    position: initial;
    display: block;
    padding-top: 0;
  }

  &__inner {
    // Biến cho mega menu
    --inner-pd-height: 30px;

    position: relative;
    padding: var(--inner-pd-height);
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-bs-color);

    &::before {
      content: url("../icons/dropdown-arrow.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }

    @include abs.breakpoint(lg) {
      padding: 0 40px;
      border-radius: 0;
      background: transparent;
      box-shadow: none;

      &::before {
        content: none;
      }
    }
  }
}

.top-menu {
  --main-colums-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-pd-height) * 2);

  position: relative;

  &__main {
    width: var(--main-colums-width);
    height: var(--max-inner-height);
    border-right: 1px solid var(--top-menu-border-color);
    overflow-y: auto;

    @include abs.breakpoint(lg) {
      width: 100%;
      height: auto;
      border-right: none;
    }
  }
}

.menu-columns {
  display: flex;
  gap: 14px;

  @include abs.breakpoint(lg) {
    margin-top: 10px;
  }

  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 36px;
    height: 36px;

    @include abs.breakpoint(xl) {
      display: none;
    }

    @include abs.breakpoint(lg) {
      display: block;
    }
  }

  &__content {
    flex: 1;
  }

  &__heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;

    @include abs.breakpoint(lg) {
      margin-bottom: 26px;
    }
  }

  &__list {
    margin-top: 19px;

    @include abs.breakpoint(lg) {
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }

  &__items {
    &--active .sub-menu {
      display: grid;
    }
  }

  &__items--active > &__link,
  &__items:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }

  &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;

    filter: var(--menu-columns-icon-color);
  }
}

.sub-menu {
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-pd-height);
  inset: 0 0 0 var(--main-colums-width);
  padding-left: var(--inner-pd-height);
  overflow-y: auto;

  @include abs.breakpoint(lg) {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &--not-main {
    position: initial;
    inset: initial;
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-inner-height);
    padding-left: 0;
  }
}
