@use "../abstract/index-abs" as abs;
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
  background: var(--body--bg);
}

a,
img,
button,
input,
select,
textarea {
  font-family: inherit;
  padding: 0;
  color: inherit;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}

.container {
  @include abs.screen(sm) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
